*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container-nav{
    width: 100%;
    margin: 0%;
    background-color: #353A40;
    display: flex;  
    flex-direction: flex;
    height: 80px;
}
.container-nav img{
    height: 60px;
    justify-content:left
}
.nav{
    position: absolute;
    margin: 1.5% 30% 0% 30%;
    display: block;
}
.nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    display: inline-table;
}
.nav a{
    color: #80888D
}
.nav li{
    justify-items:flex-end;
    display: inline-table;
}
.nav li:last-child a{
    color: #3F7D50;
}
.boton-nav{
    text-decoration: none;
    padding: 10px;
}
.container-nav .nav input{
    border-radius: 5px;
    background-color: aquamarine;
}
.container-nav .nav button{
    background-color: aquamarine;
    border-radius: 2px;
    padding: 4px;
}
header{
    position:relative;
    padding-top: 18rem;
    padding-bottom: 18rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../static/img/ba1.jpg) center no-repeat;
    background-size: cover;
    /* background-image: linear-gradient rgba(0,0,0,0.5); */
}
.info-header{
    text-align: right;
    color:white;
    margin: 0% 10% 15% 55%;
}
.boton-orador{
    text-decoration: none;
    border: 2px solid white;
    padding: 8px;
    border-radius: 5px;
    color: white;
    border: 2px solid black;
}
.boton-orador:hover{
    background-color: white;
    color: black;
}
.boton-tickets{
    text-decoration: none;
    border: 2px solid #28A644;
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: #28A644;
}
.boton-tickets:hover{
    background-color: #0c3514;
    border: 2px solid #1f8533;
    color: white;
}
.title{ 
    margin:auto;
    width: 50%;
    padding: 10px;
}
.title h2{
    text-align: center;
    font-size: 25px;
}
.title p{
    text-align: center;
}
.contenedor-aside{
    display: flex;  
    flex-direction: flex;
}
.imagen-honolulu{
    width: 50%;
}
aside{
    width: 50%;
    padding-left: 5px;
    margin-left: 5px;
    background-color: #353A40;
    color: white;
    font-size: 13px;
    text-align: left;
}
.boton-conoce{
    text-decoration: none;
    border: 2px solid white;
    padding: 8px;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
}
.contenedor-form{
    max-width: 700px;
    margin: 0 auto;
}
.contenedor-form form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contenedor-form input, textarea{
    outline: none;
}
.input-text{
    border: 1px solid #ccc;
    padding: 2px;
}
.texto-punteado{
    border-bottom: 1px dashed black;
    text-decoration: none;
}
.container-footer{
    width: 100%;
    margin: 0%;
    background-color: #353A40;
    display: flex;  
    height: 80px;
    flex: auto;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    background: rgb(0,33,24);
    background: linear-gradient(90deg, rgba(0,33,24,1) 0%, rgba(0,82,60,1) 46%, rgba(0,212,255,1) 100%);
    
}
.container-footer ul{    
    flex-direction: row;
    list-style-type: none;
    
}
.container-footer li{
    display: inline-table;
}
.container-footer a{
    text-decoration: none;
    padding: 8px;
    color:white;
}
.container-footer a:hover{
    border: 3px solid black;
    border-radius: 3px;
    text-decoration: none;
    padding: 5px;
    color:white;
}
.titulo-venta{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.valor-ticket{
    display: block;
    font-weight: 4000;
    font-size: 35px;
}